.Mines
{
    width:80px;
    height:80px;
    border-radius:18px;
    border:none;
    font-size:45px;
    margin:auto;
    overflow: hidden;
}

*::selection
{
    background-color: #222222;
    color:white;
}

body
{
    background: linear-gradient(310deg,#1a69b3,#FFFFFF);
    background-repeat: no-repeat;
    background-attachment: fixed;
    animation:fadeIn ease 5s;
    -webkit-user-select: none;
    user-select: none;
}
@keyframes fadeIn
{
    0%
    {
        opacity:0;
    }
    100%
    {
        opacity: 1;
    }
}
#ALLCONTAINER
{
    margin:auto;
    width:50%;
    margin-right:300px;

}
#buttonContainer
{
    margin:auto;
    width:50%;
}
#scoreStatus
{
    font-size:50px;
    text-align: center;
    text-shadow:16px 20px 12px #351313;
    font-family:"Roboto Slab", sans-serif;
    
}
h4
{
    font-size:20px;
    text-align: center;
    text-shadow:16px 20px 12px #665a5a;
    font-family:"Roboto Slab", sans-serif;
    
}

#reset
{
    margin:auto;
    clear: right;
    margin-top:40px;
    margin-left:0px;
    width:50%;
    font-size:50px;
    font-family:"Roboto Slab", sans-serif;
    height:100px;
    border:none;
    border-radius:20px;
    background: linear-gradient(150deg,#FFFFFF,#df3630,#000000);

}

#reset:hover
{
    box-Shadow:20px 30px 50px #351313;
    
}
#settings
{
    margin:auto;
    width:50%;
    font-size:50px;
    margin-top:40px;
    font-family:"Roboto Slab", sans-serif;
    height:100px;
    border:none;
    border-radius:20px;
    color:White;
    background: linear-gradient(150deg,#FFFFFF,#0313fc,#000000);

}
#settings:hover
{
    box-Shadow:20px 30px 50px #0a1255;
    
}
input
{
    transform: translateX(30%);
    width:40%;
    height:10%;
    display: inline-block;
    border:none;
    padding: 0px;
    
}
h6{
    
    display: inline-block;
}
#return{
    font-size:50px;
    
    width:40%;
    height:90px;
    transform:translate(70%,0%);
    border:none;
    border-radius:20px;
    color:black;
    

}
#return:hover
{
    box-Shadow:20px 30px 50px #351313;
    background: linear-gradient(150deg,#FFFFFF,#2bc9c9,#000000);
}
canvas
{
    padding:0px;
    border-radius: 30px;
    margin:auto;
    overflow:hidden;
    
}
dialog{
    font-size:50px;
    background: linear-gradient(150deg,#fff,#345599);
    border:none;
    border-radius:30px;
    width:640px;
    height:540px;
    overflow:hidden;
    
}