.Mines
{
    width:80px;
    height:80px;
    border-radius:18px;
    border:#000000;
    font-size:48px;

}
#reset
{
    transform: translate(10%,30%);
    width:40%;
    font-size:50px;
    font-family:"Roboto Slab", sans-serif;
    height:100px;
    border:none;
    border-radius:20px;
    background: linear-gradient(150deg,#FFFFFF,#df3630,#000000);

}
*::selection
{
    background-color: #222222;
    color:white;
}

#reset:hover
{
    box-Shadow:20px 30px 50px #351313;
    background: linear-gradient(150deg,#FFFFFF,#e43d3d,#000000);
}
body
{
    background: linear-gradient(310deg,#1a69b3,#FFFFFF);
    background-repeat: no-repeat;
    background-attachment: fixed;
    animation:fadeIn ease 5s;
    -webkit-user-select: none;
    user-select: none;
}
@keyframes fadeIn
{
    0%
    {
        opacity:0;
    }
    100%
    {
        opacity: 1;
    }
}
#ALLCONTAINER
{
    position:absolute;
    left:50%;
    transform: translateX(-50%);
}
#scoreStatus
{
    font-size:50px;
    text-align: center;
    text-shadow:16px 20px 12px #351313;
    font-family:"Roboto Slab", sans-serif;
    
}
h4
{
    font-size:20px;
    text-align: center;
    text-shadow:16px 20px 12px #665a5a;
    font-family:"Roboto Slab", sans-serif;
    
}
dialog{
    font-size:50px;
    background: linear-gradient(150deg,#fff,#345599);
    border:none;
    border-radius:30px;
    width:600px;
    height:600px;
    
}
#settings
{
    transform: translate(40%,30%);
    width:40%;
    font-size:50px;
    font-family:"Roboto Slab", sans-serif;
    height:100px;
    border:none;
    border-radius:20px;
    color:White;
    background: linear-gradient(150deg,#FFFFFF,#0313fc,#000000);

}
#settings:hover
{
    box-Shadow:20px 30px 50px #351313;
    background: linear-gradient(150deg,#FFFFFF,#5071ce,#000000);
}
input
{
    transform: translateX(30%);
    width:40%;
    height:10%;
    display: inline-block;
}
h6{
    
    display: inline-block;
}
#return{
    font-size:50px;
    width:40%;
    height:70px;
    transform:translate(70%,0%);
    border:none;
    border-radius:20px;
    color:White;
    background: linear-gradient(150deg,#FFFFFF,#b329ac,#000000);

}
#return:hover
{
    box-Shadow:20px 30px 50px #351313;
    background: linear-gradient(150deg,#FFFFFF,#e46e95,#000000);
}